.left-aside {

    .msj {
        transition: all 1s;
    }


    .heart:hover {
        background-color: hsla(0, 50%, 69%, 0.452);

        
    }

    .comment:hover {
        background-color: hsla(36, 68%, 77%, 0.452);
    }

    .save:hover {
        background-color: hsla(236, 82%, 78%, 0.452);
    }

    .dots:hover {
        background-color: hsla(0, 0%, 79%, 0.452);
        
    }

    .msj:hover {
    
        text-align: center;
        display: block !important;
        top: -50%;
        z-index: 1;
    }

   

   
  

}



/* Loading  */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #254adc;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
